-var pod3 = public.components.pod._data.pod_3

.pod__container.pod-3
    for item in pod3
        .pod__item.column
            i.pod__icon(class="#{item.class} icon__#{item.icon}")
            .pod__content.column
                .title #{item.title}
                .copy #{item.copy}
                .link
                    a(href="#{item.link.path}") #{item.link.text}