- var footer = public.components.footer._data

footer#footer.row
    .footer__menu.row
        for item in footer.menu
            .footer__menu-content
                .footer__menu-title #{item.name}
                for link in item.links
                    .footer__menu-item
                        a(href="#{link.path}") #{link.title}

    .footer__copyright
        img(src="#{footer.copyright.logo}")
        p &copy; #{footer.copyright.year}, #{footer.copyright.company}
        p #{footer.copyright.rights}
        p #{footer.copyright.phone}
